@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-content {
  font-family: "Inter";
}

*{
  padding: 0;
  margin: 0;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideInUp {
  animation: slideInUp 0.8s ease-out forwards;
}


@keyframes animate-pill {

  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-pill1-slideInUp {
 animation: animate-pill 0.8s ease-in-out forwards 0.1s normal;
}
.animate-pill2-slideInUp {
 animation: animate-pill 0.8s ease-in-out forwards 0.2s  normal;
}
.animate-pill3-slideInUp {
 animation: animate-pill 0.8s ease-in-out forwards 0.3s  normal;
}
.animate-pill4-slideInUp {
 animation: animate-pill 0.8s ease-in-out forwards 0.4s  normal;
}
.animate-pill5-slideInUp {
 animation: animate-pill 0.8s ease-in-out forwards 0.5s  normal;
}